
#Table_01_spons {
	position:absolute;
	left:0px;
	top:0px;
	width:800px;
	height:722px;
	
}

#Saarang_Website_Design2_spons_03 {
	position:absolute;
	left:161px;
	top:52px;
	width:67px;
	height:69px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_05 {
	position:absolute;
	left:228px;
	top:121px;
	width:68px;
	height:68px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_07 {
	position:absolute;
	left:396px;
	top:120px;
	width:69px;
	height:69px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_11 {
	position:absolute;
	left:598px;
	top:122px;
	width:69px;
	height:67px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_14 {
	position:absolute;
	left:296px;
	top:189px;
	width:100px;
	height:98px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_16 {
	position:absolute;
	left:498px;
	top:189px;
	width:100px;
	height:98px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_18 {
	position:absolute;
	left:667px;
	top:189px;
	width:66px;
	height:67px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_21 {
	position:absolute;
	left:162px;
	top:253px;
	width:67px;
	height:69px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_24 {
	position:absolute;
	left:396px;
	top:287px;
	width:102px;
	height:103px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_27 {
	position:absolute;
	left:95px;
	top:322px;
	width:67px;
	height:68px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_31 {
	position:absolute;
	left:229px;
	top:322px;
	width:67px;
	height:68px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_33 {
	position:absolute;
	left:599px;
	top:356px;
	width:32px;
	height:33px;
	background-image:url(images/hospi_18.jpg);
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_38 {
	position:absolute;
	left:296px;
	top:390px;
	width:100px;
	height:97px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#spons_38 {
	position:absolute;
	left:498px;
	top:389px;
	width:100px;
	height:101px;
	cursor: pointer;
	background-image:url(images/spons_38.jpg);
	opacity:0;
}

#Saarang_Website_Design2_spons_43 {
	position:absolute;
	left:96px;
	top:488px;
	width:67px;
	height:67px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_45 {
	position:absolute;
	left:231px;
	top:487px;
	width:65px;
	height:68px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_48 {
	position:absolute;
	left:431px;
	top:490px;
	width:67px;
	height:68px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}

#Saarang_Website_Design2_spons_52 {
	position:absolute;
	left:163px;
	top:555px;
	width:68px;
	height:67px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
	
}

#Saarang_Website_Design2_spons_55 {
	position:absolute;
	left:498px;
	top:558px;
	width:67px;
	height:67px;
	cursor: pointer;
	background-color:#ccc;
	opacity:0;
}
